@import '../../../App.scss';

.burgerMenu {
    @include filter;
    position: absolute;
    top: 14px;
    right: 30px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid var(--color);
    transition: all .2s linear;
    display: none;
    @media (max-width: 1025px) {
        display: block;
    }
}

.burgerMenuActive {
    transform: rotate(-90deg);
}